
.lightbox-outer{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.7);
	display:none;
}

img{
	width: 300px;
}

.lightbox-inner{
	text-align: center;

}

.nav-bar{
	background-color: gray;
	width: 100%;
	position: fixed;
	padding: 20px 0;
}

ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

li{
	list-style-type: none;
	display: inline-block;
	margin:0 15px;
	position: relative;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;

}

li:hover  .dropdown ul{
	display:block;
}

.dropdown {
	position: absolute;
	left: -20px;
	background-color: gray;
	text-align: center;
	padding-bottom: 10px; 
	margin-top: 
}

.dropdown li{
	display: none;



}

li:hover .dropdown li{
	display: block;
	color: red;

}
.picture{
	padding-top: 70px;
}

.picture a{
	color: black;
}
.ca{
	color: red;
}

.cli:hover a {
	color: blue;
}

/*
.nav-ul{
	display: flex;
	justify-content:space-between;
}
*/

@media all and (max-width: 500px){
	.nav-ul{
		display: none;
	}
}